<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>A</key>
    <string>A.glif</string>
    <key>B</key>
    <string>B.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>C</key>
    <string>C.glif</string>
    <key>E</key>
    <string>E.glif</string>
    <key>D</key>
    <string>D.glif</string>
    <key>G</key>
    <string>G.glif</string>
    <key>F</key>
    <string>F.glif</string>
    <key>H</key>
    <string>H.glif</string>
    <key>I</key>
    <string>I.glif</string>
    <key>K</key>
    <string>K.glif</string>
    <key>J</key>
    <string>J.glif</string>
    <key>L</key>
    <string>L.glif</string>
    <key>M</key>
    <string>M.glif</string>
    <key>N</key>
    <string>N.glif</string>
    <key>O</key>
    <string>O.glif</string>
    <key>P</key>
    <string>P.glif</string>
    <key>R</key>
    <string>R.glif</string>
    <key>Q</key>
    <string>Q.glif</string>
    <key>U</key>
    <string>U.glif</string>
    <key>S</key>
    <string>S.glif</string>
    <key>T</key>
    <string>T.glif</string>
    <key>V</key>
    <string>V.glif</string>
    <key>Y</key>
    <string>Y.glif</string>
    <key>W</key>
    <string>W.glif</string>
    <key>Z</key>
    <string>Z.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>X</key>
    <string>X.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>uni00A0</key>
    <string>uni00A0.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>Euro</key>
    <string>Euro.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>Agrave</key>
    <string>Agrave.glif</string>
    <key>Acircumflex</key>
    <string>Acircumflex.glif</string>
    <key>Atilde</key>
    <string>Atilde.glif</string>
    <key>AE</key>
    <string>AE.glif</string>
    <key>Aacute</key>
    <string>Aacute.glif</string>
    <key>Adieresis</key>
    <string>Adieresis.glif</string>
    <key>Egrave</key>
    <string>Egrave.glif</string>
    <key>Aring</key>
    <string>Aring.glif</string>
    <key>Edieresis</key>
    <string>Edieresis.glif</string>
    <key>Ccedilla</key>
    <string>Ccedilla.glif</string>
    <key>Ecircumflex</key>
    <string>Ecircumflex.glif</string>
    <key>Eacute</key>
    <string>Eacute.glif</string>
    <key>Igrave</key>
    <string>Igrave.glif</string>
    <key>Icircumflex</key>
    <string>Icircumflex.glif</string>
    <key>Iacute</key>
    <string>Iacute.glif</string>
    <key>Eth</key>
    <string>Eth.glif</string>
    <key>Ntilde</key>
    <string>Ntilde.glif</string>
    <key>Idieresis</key>
    <string>Idieresis.glif</string>
    <key>Oacute</key>
    <string>Oacute.glif</string>
    <key>Ocircumflex</key>
    <string>Ocircumflex.glif</string>
    <key>Odieresis</key>
    <string>Odieresis.glif</string>
    <key>Ograve</key>
    <string>Ograve.glif</string>
    <key>Ucircumflex</key>
    <string>Ucircumflex.glif</string>
    <key>Otilde</key>
    <string>Otilde.glif</string>
    <key>Ugrave</key>
    <string>Ugrave.glif</string>
    <key>Uacute</key>
    <string>Uacute.glif</string>
    <key>Udieresis</key>
    <string>Udieresis.glif</string>
    <key>Yacute</key>
    <string>Yacute.glif</string>
    <key>Thorn</key>
    <string>Thorn.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>Oslash</key>
    <string>Oslash.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>Amacron</key>
    <string>Amacron.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>Aogonek</key>
    <string>Aogonek.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>Abreve</key>
    <string>Abreve.glif</string>
    <key>Cacute</key>
    <string>Cacute.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>cdotaccent</key>
    <string>cdotaccent.glif</string>
    <key>Cdotaccent</key>
    <string>Cdotaccent.glif</string>
    <key>Dcaron</key>
    <string>Dcaron.glif</string>
    <key>Ccaron</key>
    <string>Ccaron.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>Dcroat</key>
    <string>Dcroat.glif</string>
    <key>Emacron</key>
    <string>Emacron.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>Edotaccent</key>
    <string>Edotaccent.glif</string>
    <key>Eogonek</key>
    <string>Eogonek.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>Gbreve</key>
    <string>Gbreve.glif</string>
    <key>Gdotaccent</key>
    <string>Gdotaccent.glif</string>
    <key>Ecaron</key>
    <string>Ecaron.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif</string>
    <key>Gcommaaccent</key>
    <string>Gcommaaccent.glif</string>
    <key>gcommaaccent</key>
    <string>gcommaaccent.glif</string>
    <key>Hbar</key>
    <string>Hbar.glif</string>
    <key>Imacron</key>
    <string>Imacron.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>Iogonek</key>
    <string>Iogonek.glif</string>
    <key>Kcommaaccent</key>
    <string>Kcommaaccent.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>Idotaccent</key>
    <string>Idotaccent.glif</string>
    <key>kcommaaccent</key>
    <string>kcommaaccent.glif</string>
    <key>Lacute</key>
    <string>Lacute.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>Lcommaaccent</key>
    <string>Lcommaaccent.glif</string>
    <key>lcommaaccent</key>
    <string>lcommaaccent.glif</string>
    <key>Lcaron</key>
    <string>Lcaron.glif</string>
    <key>Lslash</key>
    <string>Lslash.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>Nacute</key>
    <string>Nacute.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>Ncommaaccent</key>
    <string>Ncommaaccent.glif</string>
    <key>ncommaaccent</key>
    <string>ncommaaccent.glif</string>
    <key>Ncaron</key>
    <string>Ncaron.glif</string>
    <key>Ohungarumlaut</key>
    <string>Ohungarumlaut.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>OE</key>
    <string>OE.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>Racute</key>
    <string>Racute.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>Rcaron</key>
    <string>Rcaron.glif</string>
    <key>Sacute</key>
    <string>Sacute.glif</string>
    <key>Scedilla</key>
    <string>Scedilla.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>Scaron</key>
    <string>Scaron.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>Tcaron</key>
    <string>Tcaron.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>Umacron</key>
    <string>Umacron.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>Uring</key>
    <string>Uring.glif</string>
    <key>Uhungarumlaut</key>
    <string>Uhungarumlaut.glif</string>
    <key>Uogonek</key>
    <string>Uogonek.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>Ycircumflex</key>
    <string>Ycircumflex.glif</string>
    <key>Wcircumflex</key>
    <string>Wcircumflex.glif</string>
    <key>Ydieresis</key>
    <string>Ydieresis.glif</string>
    <key>Zacute</key>
    <string>Zacute.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>Zdotaccent</key>
    <string>Zdotaccent.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>Scommaaccent</key>
    <string>Scommaaccent.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>Zcaron</key>
    <string>Zcaron.glif</string>
    <key>tcommaaccent</key>
    <string>tcommaaccent.glif</string>
    <key>Tcommaaccent</key>
    <string>Tcommaaccent.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>scommaaccent</key>
    <string>scommaaccent.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>dotlessj</key>
    <string>dotlessj.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>uni0301</key>
    <string>uni0301.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>uni0302</key>
    <string>uni0302.glif</string>
    <key>uni0303</key>
    <string>uni0303.glif</string>
    <key>uni0300</key>
    <string>uni0300.glif</string>
    <key>uni0307</key>
    <string>uni0307.glif</string>
    <key>uni0304</key>
    <string>uni0304.glif</string>
    <key>uni030A</key>
    <string>uni030A.glif</string>
    <key>uni0306</key>
    <string>uni0306.glif</string>
    <key>uni030B</key>
    <string>uni030B.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni030C</key>
    <string>uni030C.glif</string>
    <key>uni0327</key>
    <string>uni0327.glif</string>
    <key>uni0328</key>
    <string>uni0328.glif</string>
    <key>Wgrave</key>
    <string>Wgrave.glif</string>
    <key>uni0326</key>
    <string>uni0326.glif</string>
    <key>wacute</key>
    <string>wacute.glif</string>
    <key>wgrave</key>
    <string>wgrave.glif</string>
    <key>Wacute</key>
    <string>Wacute.glif</string>
    <key>Wdieresis</key>
    <string>Wdieresis.glif</string>
    <key>wdieresis</key>
    <string>wdieresis.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif</string>
    <key>Ygrave</key>
    <string>Ygrave.glif</string>
    <key>uni1E9E</key>
    <string>uni1E9E.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
  </dict>
</plist>